<div class="sp_compare_tbl sp_compare_popup">
  <div class="close_bar"><div class="close-btn"></div></div>
  <div class="custom-model-wrap test">
    <div class="sa_border">
      <div class="sa_button">
        <input class="sa_prev" type="button" name="Prev" id="sp_prev" value="❮" disabled="">
        <input class="sa_next is-filled" type="button" name="Next" id="sp_next" value="❯">
      </div>
     {% comment %} <ul class="sp_product_heading">
        <li class="sp_image" style="height: 426px;">Compare Our Products</li>
        <li data="sp_id_capital" class="sp_activescreensizediagonal" style="height: 66px;">active screen size diagonal
        </li>
        <li data="sp_id_capital" class="sp_activescreensizehxv" style="height: 45px;">active screen size hxv</li>
        <li data="sp_id_capital" class="sp_ambientlightcensor" style="height: 45px;">ambient light censor</li>
        <li data="sp_id_capital" class="sp_aspectratiohv" style="height: 45px;">aspect ratio hv</li>
        <li data="sp_id_capital" class="sp_backlight" style="height: 45px;">backlight</li>
        <li data="sp_id_capital" class="sp_backlightcensor" style="height: 45px;">backlight censor</li>
        <li data="sp_id_capital" class="sp_calibratedluminance" style="height: 45px;">calibrated luminance</li>
        <li data="sp_id_capital" class="sp_calibration" style="height: 45px;">calibration</li>
        <li data="sp_id_capital" class="sp_colorimaging" style="height: 45px;">color imaging</li>
        <li data="sp_id_capital" class="sp_contrastratio" style="height: 45px;">contrast ratio</li>
        <li data="sp_id_capital" class="sp_grayimaging" style="height: 45px;">gray imaging</li>
        <li data="sp_id_capital" class="sp_maxluminance" style="height: 45px;">max luminance</li>
        <li data="sp_id_capital" class="sp_pixelpitch" style="height: 45px;">pixel pitch</li>
        <li data="sp_id_capital" class="sp_powerconsumption" style="height: 45px;">power consumption</li>
        <li data="sp_id_capital" class="sp_recommendedfor" style="height: 45px;">recommended for</li>
        <li data="sp_id_capital" class="sp_resolution" style="height: 45px;">resolution</li>
        <li data="sp_id_capital" class="sp_screentechnology" style="height: 45px;">screen technology</li>
        <li data="sp_id_capital" class="sp_screentype" style="height: 45px;">screen type</li>
        <li data="sp_id_capital" class="sp_videoinputsignals" style="height: 45px;">video input signals</li>
        <li data="sp_id_capital" class="sp_viewinganglehv" style="height: 45px;">viewing angle hv</li>
        <li data="sp_id_capital" class="sp_DimensionsWxHxD" style="height: 86px;">Dimensions (W x H x D)</li>
        <li data="sp_id_capital" class="sp_mounttype" style="height: 45px;">mount type</li>
        <li data="sp_id_capital" class="sp_NativeResolution" style="height: 45px;">Native Resolution</li>
        <li data="sp_id_capital" class="sp_memory" style="height: 45px;">memory</li>
        <li data="sp_id_capital" class="sp_operatingsystem" style="height: 45px;">operating system</li>
        <li data="sp_id_capital" class="sp_processor" style="height: 45px;">processor</li>
        <li data="sp_id_capital" class="sp_storage" style="height: 45px;">storage</li>
        <li data="sp_id_capital" class="sp_graphics" style="height: 45px;">graphics</li>
      </ul>
      <div class="sp_product" id="sp_product">
        <ul class="sp_product_con fill_cmp">
          <li class="sp_image" style="height: 426px;">
            <div class="sp_image_block">
              <a spcmp_vid="32205460406361" spcmp_pid="4731299987545" dtype="page" href="javascript:void(0);" class="sp_close">✕</a>
              <a target="_blank" href="/products/barco-coronis-mdcg-3120-k9601662?variant=32205460406361" class="sp_img">
<!--                 <img src="https://cdn.shopify.com/s/files/1/2372/2681/products/MDCG-3120_2121pairsinglehead_medium.jpg?v=1630433049" alt=""> -->
              </a>
            </div>
            <div class="sp_title">Barco Coronis MDCG-3120 3MP 21" Grayscale General Radiology
              Diagnostic Display (K9601662)</div>
<!--             <div class="sp_var_title">Pair Renewed</div> -->
            <div class="sp_price">
              <span class="money product-price" data-wg-notranslate="manual">$3,499.99</span>
            </div>
            <div class="sp_add_to_cart">
              <form action="/cart/add" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="32205460406361">
                <input type="hidden" name="quantity" value="1">
                <input class="sa_cmp_addcart" name="button" value="Add to Cart" type="submit">
              </form>
            </div>
          </li>
          <li class="sp_activescreensizediagonal same_cl" style="height: 66px;">528 mm (20.8")
          </li>
          <li class="sp_activescreensizehxv same_cl" style="height: 45px;">424 x 318 mm (16.7 x 12.5")
          </li>
          <li class="sp_ambientlightcensor same_cl" style="height: 45px;">Yes</li>
          <li class="sp_aspectratiohv same_cl" style="height: 45px;">4:3
          </li>
          <li class="sp_backlight same_cl" style="height: 45px;">CCFL lamps</li>
          <li class="sp_backlightcensor same_cl" style="height: 45px;">Yes</li>
          <li class="sp_calibratedluminance same_cl" style="height: 45px;">500 cd/m²
          </li>
          <li class="sp_calibration same_cl" style="height: 45px;">Auto (built-in front sensor)
          </li>
          <li class="sp_colorimaging same_cl" style="height: 45px;">No</li>
          <li class="sp_contrastratio same_cl" style="height: 45px;">900:1
          </li>
          <li class="sp_grayimaging same_cl" style="height: 45px;">Yes</li>
          <li class="sp_maxluminance same_cl" style="height: 45px;">1000 cd/m²
          </li>
          <li class="sp_pixelpitch same_cl" style="height: 45px;">0.2070 x 0.2070 mm
          </li>
          <li class="sp_powerconsumption same_cl" style="height: 45px;">64 W
          </li>
          <li class="sp_recommendedfor same_cl" style="height: 45px;">CR, DR, MR, CT, US
          </li>
          <li class="sp_resolution same_cl" style="height: 45px;">3MP (2048 x 1536)
          </li>
          <li class="sp_screentechnology same_cl" style="height: 45px;">TFT AM LCD Dual Domain IPS
          </li>
          <li class="sp_screentype same_cl" style="height: 45px;">Grayscale</li>
          <li class="sp_videoinputsignals same_cl" style="height: 45px;">1 x DVI-D Dual Link
          </li>
          <li class="sp_viewinganglehv same_cl" style="height: 45px;">170°, 170°
          </li>
          <li class="sp_DimensionsWxHxD same_cl" style="height: 86px;">with stand (W x H x D) Portrait: 369 x 558~658
            x 285 mm
            Landscape: 477 x 504~604 x 285 mm
            w/o stand (W x H x D) Portrait: 369 x 477 x 100 mm
            Landscape: 477 x 369 x 100 mm</li>
          <li class="sp_mounttype same_cl" style="height: 45px;">VESA (100 mm)</li>
          <li class="sp_NativeResolution same_cl" style="height: 45px;">3MP (2048 x 1536)</li>
          <li class="sp_memory same_cl" style="height: 45px;">-</li>
          <li class="sp_operatingsystem same_cl" style="height: 45px;">-</li>
          <li class="sp_processor same_cl" style="height: 45px;">-</li>
          <li class="sp_storage same_cl" style="height: 45px;">-</li>
          <li class="sp_graphics same_cl" style="height: 45px;">-</li>
        </ul>
        <ul class="sp_product_con fill_cmp">
          <li class="sp_image" style="height: 426px;">
            <div class="sp_image_block">
              <a spcmp_vid="39378299093081" spcmp_pid="6604005638233" dtype="page" href="javascript:void(0);" class="sp_close">✕</a>
              <a target="_blank" href="/products/z4-xeon-w-2255?variant=39378299093081" class="sp_img">
<!--                 <img src="https://cdn.shopify.com/s/files/1/2372/2681/products/Z4workstationmockup_3_New_13d3e350-b8c3-465d-bf69-5b50285b2920_medium.jpg?v=1626726784" alt=""> -->
              </a>
            </div>
            <div class="sp_title">HP Z4 G4 Workstation | Intel Xeon W-2255 @ 3.70GHz | Deca Core (10-Core) | 32GB DDR4 2933MHz | 500GB NVMe SSD | Quadro NVS 510 2GB | Win10 Pro</div>
<!--             <div class="sp_var_title">Renewed</div> -->
            <div class="sp_price">
              <span class="money product-price" data-wg-notranslate="manual">$3,099.99</span>
            </div>
            <div class="sp_add_to_cart">
              <form action="/cart/add" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="39378299093081">
                <input type="hidden" name="quantity" value="1">
                <input class="sa_cmp_addcart" name="button" value="Add to Cart" type="submit">
              </form>
            </div>
          </li>          
          <li class="sp_activescreensizediagonal same_cl" style="height: 66px;">-</li>
          <li class="sp_activescreensizehxv same_cl" style="height: 45px;">-</li>
          <li class="sp_ambientlightcensor same_cl" style="height: 45px;">-</li>
          <li class="sp_aspectratiohv same_cl" style="height: 45px;">-</li>
          <li class="sp_backlight same_cl" style="height: 45px;">-</li>
          <li class="sp_backlightcensor same_cl" style="height: 45px;">-</li>
          <li class="sp_calibratedluminance same_cl" style="height: 45px;">-</li>
          <li class="sp_calibration same_cl" style="height: 45px;">-</li>
          <li class="sp_colorimaging same_cl" style="height: 45px;">-</li>
          <li class="sp_contrastratio same_cl" style="height: 45px;">-</li>
          <li class="sp_grayimaging same_cl" style="height: 45px;">-</li>
          <li class="sp_maxluminance same_cl" style="height: 45px;">-</li>
          <li class="sp_pixelpitch same_cl" style="height: 45px;">-</li>
          <li class="sp_powerconsumption same_cl" style="height: 45px;">-</li>
          <li class="sp_recommendedfor same_cl" style="height: 45px;">-</li>
          <li class="sp_resolution same_cl" style="height: 45px;">-</li>
          <li class="sp_screentechnology same_cl" style="height: 45px;">-</li>
          <li class="sp_screentype same_cl" style="height: 45px;">-</li>
          <li class="sp_videoinputsignals same_cl" style="height: 45px;">-</li>
          <li class="sp_viewinganglehv same_cl" style="height: 45px;">-</li>
          <li class="sp_DimensionsWxHxD same_cl" style="height: 86px;">-</li>
          <li class="sp_mounttype same_cl" style="height: 45px;">-</li>
          <li class="sp_NativeResolution same_cl" style="height: 45px;">-</li>
          <li class="sp_memory same_cl" style="height: 45px;">32GB DDR4 2933MHz ECC</li>
          <li class="sp_operatingsystem same_cl" style="height: 45px;">Win10 Pro </li>
          <li class="sp_processor same_cl" style="height: 45px;">Intel Xeon W-2255 @ 3.70GHz | Deca Core (10-Core)
          </li>
          <li class="sp_storage same_cl" style="height: 45px;">512GB NVMe SSD</li>
          <li class="sp_graphics same_cl" style="height: 45px;">NVIDIA Quadro NVS 510 2GB</li>
        </ul>
        <ul class="sp_product_con fill_cmp">
          <li class="sp_image" style="height: 426px;">
            <div class="sp_image_block">
              <a spcmp_vid="39414176415833" spcmp_pid="6603638669401" dtype="page" href="javascript:void(0);" class="sp_close">✕</a>
              <a target="_blank" href="/products/z6-xeon-gold-5122?variant=39414176415833" class="sp_img">
<!--                 <img src="https://cdn.shopify.com/s/files/1/2372/2681/products/z6workstation6_dfc44415-6bbb-42ce-9d87-b5c1a67e5cb4_medium.jpg?v=1630431997" alt=""> -->
              </a>
            </div>
            <div class="sp_title">HP Z6 G4 Workstation | Intel Xeon Gold 5122 @ 3.60GHz | Quad Core (4-Core) | 32GB DDR4 2666MHz | 1TB NVMe SSD | Win10 Pro</div>
<!--             <div class="sp_var_title">Renewed</div> -->
            <div class="sp_price">
              <span class="sp_price_from">From</span>
              <span class="money sale-price" data-wg-notranslate="manual">$1,699.99</span>
              <strike>$1,999.99</strike>
            </div>
            <div class="sp_add_to_cart">
              <form action="/cart/add" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="39414176415833">
                <input type="hidden" name="quantity" value="1">
                <input class="sa_cmp_addcart" name="button" value="Add to Cart" type="submit">
              </form>
            </div>
          </li>          
          <li class="sp_activescreensizediagonal same_cl" style="height: 66px;">-</li>
          <li class="sp_activescreensizehxv same_cl" style="height: 45px;">-</li>
          <li class="sp_ambientlightcensor same_cl" style="height: 45px;">-</li>
          <li class="sp_aspectratiohv same_cl" style="height: 45px;">-</li>
          <li class="sp_backlight same_cl" style="height: 45px;">-</li>
          <li class="sp_backlightcensor same_cl" style="height: 45px;">-</li>
          <li class="sp_calibratedluminance same_cl" style="height: 45px;">-</li>
          <li class="sp_calibration same_cl" style="height: 45px;">-</li>
          <li class="sp_colorimaging same_cl" style="height: 45px;">-</li>
          <li class="sp_contrastratio same_cl" style="height: 45px;">-</li>
          <li class="sp_grayimaging same_cl" style="height: 45px;">-</li>
          <li class="sp_maxluminance same_cl" style="height: 45px;">-</li>
          <li class="sp_pixelpitch same_cl" style="height: 45px;">-</li>
          <li class="sp_powerconsumption same_cl" style="height: 45px;">-</li>
          <li class="sp_recommendedfor same_cl" style="height: 45px;">-</li>
          <li class="sp_resolution same_cl" style="height: 45px;">-</li>
          <li class="sp_screentechnology same_cl" style="height: 45px;">-</li>
          <li class="sp_screentype same_cl" style="height: 45px;">-</li>
          <li class="sp_videoinputsignals same_cl" style="height: 45px;">-</li>
          <li class="sp_viewinganglehv same_cl" style="height: 45px;">-</li>
          <li class="sp_DimensionsWxHxD same_cl" style="height: 86px;">-</li>
          <li class="sp_mounttype same_cl" style="height: 45px;">-</li>
          <li class="sp_NativeResolution same_cl" style="height: 45px;">-</li>
          <li class="sp_memory same_cl" style="height: 45px;">32GB DDR4 2666MHz ECC</li>
          <li class="sp_operatingsystem same_cl" style="height: 45px;">Win10 Pro </li>
          <li class="sp_processor same_cl" style="height: 45px;">Intel Xeon Gold 5122 @ 3.60GHz | Quad Core (4-Core)</li>
          <li class="sp_storage same_cl" style="height: 45px;">1TB NVMe SSD</li>
          <li class="sp_graphics same_cl" style="height: 45px;">-</li>
        </ul>
      </div> {% endcomment %}
    </div>
  </div>
  <div class="bg-overlay"></div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    var isPopupOpen = false;
    var currencyFormat = window.theme.currencyCodeEnabled ? window.theme.moneyWithCurrencyFormat : window.theme.moneyFormat;
    $(document).on('click','.com-page-btn', function(e){
      e.preventDefault();
      $(".sp_compare_popup").addClass('model-open');
      $(".sa_border").html('<div style="text-align:center" class="sp--loader"><span class="spc_loader"><img src="https://shopiapps.in/compare_product/cmp_widget/compare-page-loader.gif"></span><p class="SPC_Cmploadingtxt" style="color: #333;display: block;font-size: 16px;font-weight: bold;line-height: 20px;">Comparing Products...</p></div>');

      if(isPopupOpen == false){
        spCompareData(function(response){
          var products = response.products;
          var metafieldKeys = [];
          var metafieldUniqueKeys = {};
          isPopupOpen = true;

          products.forEach(function(pr,prc){
            pr['metafields'].forEach(function(me,mec){
              if(!(metafieldKeys.indexOf(me['key']) != -1))
                metafieldKeys.push(me['key']);
              
              //metafieldUniqueKeys.push({key:me['key'],namespace:me['namespace']});
              
              if(metafieldUniqueKeys[`${me['key']}${me['namespace']}`] == undefined){
                metafieldUniqueKeys[`${me['key']}${me['namespace']}`] = {key:me['key'],namespace:me['namespace']};  
              }
              
            });
          });

          var productDataUl = '<div class="sp_product" id="sp_product">';
          products.forEach(function(product,prc){
            var metaValueLi = getmetafieldValueLi(product, metafieldUniqueKeys);
            var proMinPrice = '';
            var compareMinPrice = '';
            
            var productImage = '';
            if(!product.variant.is_default || product.all_images[1] == undefined){
              productImage = product.variant.image;
              proMinPrice = product.minVariantPrice;
              compareMinPrice = product.minComparePrice;
            }
            else{
              productImage = product.all_images[1].src
              proMinPrice = product.minVariantPrice;
              compareMinPrice = product.minComparePrice;
            }
            
              productDataUl += `<ul class='sp_product_con fill_cmp'>` +
                `<li class='sp_image'>` +
                `<div class="sp_image_block">` +
                `<a spcmp_vid="${product.variant.id}" spcmp_pid="${product.id}" href="javascript:void(0);" class="sp_close">✕</a>` +
                `<a target="_blank" href='/products/${product.handle}?variant=${product.variant.id}' class="sp_img">` +
                `<img src="${productImage}" alt="">` +
                `</a>` +
                `</div>`+
                `<div class="sp_title">${product.title}</div>` +
                `<div class="sp_var_title">`+/*${product.variant.title}*/`</div>`;
            
            productDataUl += `<a class="product-item__reviews-badge link" href="/products/${product.handle}?variant=${product.variant.id}#review" style="height:25px">
                <span class=" stamped-product-reviews-badge" data-product-sku="${product.handle}" data-id="${product.id}" data-product-type="${product.ptype}" data-product-title='${product.title}'  style="display:block;"></span>
              </a>`;
                
              if(product.variant.compare_at_price > product.variant.price){
                var savings = "<span>".concat(Currency.formatMoney(product.variant.compare_at_price - product.variant.price, currencyFormat).replace('.00',''), "</span>");
                productDataUl += `<span class="product-label product-label--on-sale">Save <span>${savings}</span></span>` +
                 `<div class="sp_price">`;
                  if(proMinPrice != ''){
                    productDataUl += `<span class="money sale-price">From</span>`;
                    productDataUl += `<span class="money sale-price" data-wg-notranslate="manual">${Currency.formatMoney(proMinPrice, currencyFormat)}</span>`;
                  }else{
                    productDataUl += `<span class="money sale-price" data-wg-notranslate="manual">${Currency.formatMoney(product.variant.price, currencyFormat)}</span>`; 
                  }
                  if(compareMinPrice != '' && compareMinPrice > proMinPrice)
                    productDataUl += `<strike class="money">${Currency.formatMoney(compareMinPrice, currencyFormat)}</strike>`;
                  else
                    productDataUl += `<strike class="money">${Currency.formatMoney(product.variant.compare_at_price, currencyFormat)}</strike>`;
                  
                  productDataUl += `</div>`;
              }else{
                productDataUl += `<div class="sp_price">`;
                  if(proMinPrice != ''){
                    productDataUl += `<span class="money product-price">From</span>`;
                    productDataUl += `<span class="money product-price" data-wg-notranslate="manual">${Currency.formatMoney(proMinPrice, currencyFormat)}</span>`;
                  }else{
                    productDataUl += `<span class="money product-price" data-wg-notranslate="manual">${Currency.formatMoney(product.variant.price, currencyFormat)}</span>`;
                  }
                productDataUl += `</div>`;
              }

             productDataUl += `<div class="sp_add_to_cart"><a class='sa_cmp_addcart' href="/products/${product.handle}?variant=${product.variant.id}">View Product</a></div>`;
            
//             if(product.variant.avail_or_sold == '1'){
//               productDataUl += `<div class="sp_add_to_cart"><form action='/cart/add' method='post' enctype='multipart/form-data'><input type='hidden' name='id' value='${product.variant.id}'><input type='hidden' name='quantity' value='1'><input class='sa_cmp_addcart' name='button' value='Add to Cart' type='submit'></form></div>`;
//             }else{
//               productDataUl += `<div class="sp_add_to_cart"><input disabled='' class='sa_cmp_soldout' name='button' value='Sold out' type='submit'></div>`;
//             }
            productDataUl += `</li>`;
            productDataUl += metaValueLi;
            productDataUl += `</ul>`;
          });
          productDataUl += `</div>`;

          var metaHeadingLi = '';
          for (const [meta_field,mec] of Object.entries(metafieldUniqueKeys)) {
            metaHeadingLi += "<li data='sp_id_capital' class='sp_"+mec.key.replace(/[^0-9a-z]/gi, '')+"'>"+mec.key.replace(/_/g, ' ')+"</li>";
          };

          
          var popupHtml = `<div class="sa_button">` + 
                  `<input class="sa_prev" type="button" name="Prev" id="sp_prev" value="❮" disabled="">` +
                  `<input class="sa_next is-filled" type="button" name="Next" id="sp_next" value="❯"></div>` +
                ` <ul class="sp_product_heading"><li class="sp_image">Compare Our Products</li>${metaHeadingLi}</ul>${productDataUl}`;

          $('.sa_border').html(popupHtml);
          StampedFn.loadBadges(true);
          heightsEqualizer();
        })
      }


    });
    
    // $(document).on('click','.sp_close', function(e){
    //   var varID = $(this).attr('spcmp_vid');
    //   var proId = $(this).attr('spcmp_pid');
    //   $(document).find('.sa_ca_idelete[spcmp_pid="'+proId+'"][spcmp_vid="'+varID+'"]').trigger('click');
    //   $(this).parents('.sp_product_con').remove();
    //   if($('.sp_product_con').length == 0){
    //     $('.close-btn').trigger('click');
    //     isPopupOpen = false;
    //   }
    // });

    $(".close-btn, .bg-overlay").click(function(){
      $(".sp_compare_popup").removeClass('model-open');
      isPopupOpen = false;
    });
  });
  

  function getmetafieldValueLi(product, availableMetaKeys){
    var html = '';
  
    for (const [meta_field,mec] of Object.entries(availableMetaKeys)) {
      var is_metafield = false;
      product['metafields'].forEach(function(new_metafield,nmc){
        if(`${new_metafield['key']}${new_metafield['namespace']}` == meta_field){
          html += `<li class='sp_${mec.key.replace(/[^0-9a-z]/gi, '')} same_cl'>${new_metafield['value']}</li>`;
          is_metafield = true;
        }
      });

      if(is_metafield === false)
        html += `<li class='sp_${mec.key.replace(/[^0-9a-z]/gi, '')} same_cl'>-</li>`;
    }

    return html;
  }

  function heightsEqualizer() {/*SET HEIGH IN RESPONSIVE*/

    var selector = 'li.sp_image';

    document.querySelectorAll('.sp_product_heading li').forEach(function(p,q){
      selector = ( q=='0' ? '' : selector );
      selector += ( q != '0' ? "," : "" ) + "li." + p.getAttribute('class');
    });
    
    var elem_arr = selector.split(",");
    elem_arr.forEach(function(value,key){
      var elements = document.querySelectorAll(value),
          max_height = 0,
          len = 0,
          i;
      if ((elements) && (elements.length > 0)) {
        len = elements.length;
        for (i = 0; i < len; i++) { /*GET MAX HEIGHT*/
          elements[i].style.height = ''; /*RESET HEIGHT ATTR*/
          if (elements[i].clientHeight > max_height) {
            max_height = elements[i].clientHeight;
          }
        }
        for (i = 0; i < len; i++) { /*SET MAX HEIGHT TO ALL ELEMENTS*/
          elements[i].style.height = max_height + 'px';
        }
      }
    });
  }
  
  $(document).on('click','.sa_prev',function(event){
    SP_CMP_plusDivs('-1');
  });

  $(document).on('click','.sa_next',function(event){
    SP_CMP_plusDivs('+1');
  });
  
  var slideIndex = 1;
  function SP_CMP_plusDivs(n) {
    var k = slideIndex += parseInt(n);
    SP_CMP_showDivs(k);
  }

  function SP_CMP_showDivs(n) {
    var i;
    var x = document.querySelectorAll(".sp_product_con");
    if (n > x.length)
      slideIndex = 1

      if (n < 1)
        slideIndex = x.length

        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }

    document.querySelector('.sa_next').disabled = false;
    document.querySelector('.sa_prev').disabled = false;
    var div_limit = document.querySelector(".sp_product").querySelectorAll("ul.fill_cmp").length;
    if ((slideIndex - 1) == (div_limit - 1)) 
      document.querySelector('.sa_next').disabled = true;
    else if ((slideIndex - 1) == 0) 
      document.querySelector('.sa_prev').disabled = true;

    x[parseInt(slideIndex) - 1].style.display = "block";	
    heightsEqualizer();
  }
  
  function _classCallCheck(instance, Constructor) {
    if (!(instance instanceof Constructor)) {
      throw new TypeError("Cannot call a class as a function");
    }
  }
  
  function _defineProperties(target, props) {
    for (var i = 0; i < props.length; i++) {
      var descriptor = props[i];
      descriptor.enumerable = descriptor.enumerable || false;
      descriptor.configurable = true;
      if ("value" in descriptor) descriptor.writable = true;
      Object.defineProperty(target, descriptor.key, descriptor);
    }
  }
  
  function _createClass(Constructor, protoProps, staticProps) {
    if (protoProps) _defineProperties(Constructor.prototype, protoProps);
    if (staticProps) _defineProperties(Constructor, staticProps);
    return Constructor;
  }
  
  var Currency = /*#__PURE__*/function () {
    function Currency() {
      _classCallCheck(this, Currency);
    }

    _createClass(Currency, null, [{
      key: "formatMoney",

      /**
       * Format money values based on your shop currency settings
       *
       * @param  {Number|string} cents - value in cents or dollar amount e.g. 300 cents or 3.00 dollars
       * @param  {String} format - shop money_format setting
       * @return {String} value - formatted value
       */
      value: function formatMoney(cents, format) {
        if (typeof cents === 'string') {
          cents = cents.replace('.', '');
        }

        var placeholderRegex = /\{\{\s*(\w+)\s*\}\}/,
            formatString = format || '${{amount}}';

            function defaultTo(value, defaultValue) {
              return value == null || value !== value ? defaultValue : value;
            }

        function formatWithDelimiters(number, precision, thousands, decimal) {
          precision = defaultTo(precision, 2);
          thousands = defaultTo(thousands, ',');
          decimal = defaultTo(decimal, '.');

          if (isNaN(number) || number == null) {
            return 0;
          }

          number = (number / 100.0).toFixed(precision);
          var parts = number.split('.'),
              dollarsAmount = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + thousands),
              centsAmount = parts[1] ? decimal + parts[1] : '';
          return dollarsAmount + centsAmount;
        }

        var value = '';

        switch (formatString.match(placeholderRegex)[1]) {
          case 'amount':
            value = formatWithDelimiters(cents, 2);
            break;

          case 'amount_no_decimals':
            value = formatWithDelimiters(cents, 0);
            break;

          case 'amount_with_space_separator':
            value = formatWithDelimiters(cents, 2, ' ', '.');
            break;

          case 'amount_no_decimals_with_comma_separator':
            value = formatWithDelimiters(cents, 0, ',', '.');
            break;

          case 'amount_no_decimals_with_space_separator':
            value = formatWithDelimiters(cents, 0, ' ');
            break;

          case 'amount_with_comma_separator':
            value = formatWithDelimiters(cents, 2, '.', ',');
            break;
        }

        if (formatString.indexOf('with_comma_separator') !== -1) {
          return formatString.replace(placeholderRegex, value);
        } else {
          return formatString.replace(placeholderRegex, value);
        }
      }
    }]);

    return Currency;
  }();
  
  
</script>