{% liquid
  assign filter_toggle_sidebar_element_id = 'filter-toggle-sidebar'
  assign filter_component_id = filter_component_id
%}

<div class="findify-search-header findify-desktop">
  <div class="findify-search-header-toolbar">
    <div class="findify-search-header-toolbar-actions">
      <button
        id="{{ filter_toggle_sidebar_element_id }}"
        class="findify-search-actions-toggle-btn"
      >
        {% render 'findify-icon-filter' %}
        {{ 'findify.filters.filter_by' | t }}
      </button>
    </div>

    {%
      render 'findify-query' terms: terms, results_count: results_count, is_collection: is_collection,       , terms: terms
      , corrected_q: corrected_q
      , query_type: query_type
    %}

    <div class="findify-toolbar-block">
      {% if use_grid_toggler == 'true' %}
        {% render 'findify-grid-toggler' parent_selector: 'findify-desktop'
        , products_per_view_alt: products_per_view_alt
        , products_per_view: products_per_view
        %}
      {% endif %}
      {% render 'findify-sorting', options: sort_options, default: default_sort_by, selected: sort_by, is_modal: false %}
    </div>
  </div>
  {% if active_filters != 'none' %}
    <div class="findify-search-desktop-breadcrumb">
      {% render 'findify-filter-breadcrumb',
        active_filters: active_filters,
        color_layout: color_layout,
        component_id: 'findify-desktop-toolbar',
        sidebar_component_id: filter_component_id
      %}
    </div>
  {% endif %}
</div>

<script>
  const filterSidebar = () => {
    const filter_toggle_sidebar_element_id = '{{ filter_toggle_sidebar_element_id }}';
    const filter_component_id = '{{ filter_component_id }}';
    const openClass = 'findify-open';

    const toggleFilterSection = () => {
      const containerElement = document.getElementById(filter_component_id);
      if (containerElement.classList.contains(openClass)) {
        containerElement.classList.remove(openClass);
        findify.filters.isSidebarOpen = false;
      } else {
        containerElement.classList.add(openClass);
        findify.filters.isSidebarOpen = true;
      }
    };

    const filterToggleSidebarElement = document.getElementById(filter_toggle_sidebar_element_id);
    //changes comment to disable toggling
    filterToggleSidebarElement?.addEventListener('click', toggleFilterSection);
  };

  filterSidebar();
</script>
