{%- if content != null and content != 'none' -%}
  <div class="findify-autocomplete-content-wrapper">
    {% assign contentArray = content | split: '~' %}
    {% assign content_id = contentArray[0] %}
    {% assign count = contentArray[1] %}
    {% assign title = contentArray[2] %}
    <div id="{{content_id}}-content" class="findify-autocomplete-tab-content">
      <h3 class="findify-autocomplete-content-title">{{ title }}</h3>
      {% if count == '0' %}
        <h3>{{ 'findify.content.no_content' | t }}</h3>
      {% else %}
        {% render 'findify-autocomplete-content-grid', content_id: content_id %}
      {% endif -%}
    </div>
  </div>
{%- endif -%}
