{% liquid
  # If "label" option is selected from Visual editor we use text component
  if color_filter_layout == 'label'
    assign component = 'text'
  endif

  assign wrapper_class = 'findify-body-wrapper-layout-' | append: color_filter_layout
  assign checkbox_class = 'findify-filters--color-item  findify-filters--color-item-layout-' | append: color_filter_layout
%}

{% if filters.size > 4 and component == 'text' %}
  {% render 'findify-filter-search-input', name: name %}
{% endif %}

<div class="findify-filters--body-wrapper {{wrapper_class}}">
  {%- for filter in filters -%}
    {% liquid
      assign filter_props = filter | split: '~'
      assign value = filter_props[0]
      assign old_color = filter_props[1]
      assign border_color = filter_props[2]
      assign count = filter_props[3]
      assign is_selected_prop = filter_props[4]
      if is_selected_prop == 'T'
        assign is_selected = true
      else
        assign is_selected = false
      endif
    %}

    {% if value != 'nm' %}
      {% render 'findify-filter-checkbox',
        name: name,
        type: type,
        is_selected: is_selected,
        count: count,
        component: component,
        value: value,
        text: value,
        color_name: value,
        border_color: border_color,
        class: checkbox_class,
        color_filter_layout: color_filter_layout,
        old_color: old_color
      %}
    {% endif %}
  {% endfor %}
</div>
