{% assign availableVariants = product.variants | where: 'available', true %}
{% assign numberOfAvailableVariants = availableVariants.size %}
 {% if numberOfAvailableVariants == 1 %}
   {% assign firstAvailableVariant = availableVariants.first %}
    {% if firstAvailableVariant.price != firstAvailableVariant.compare_at_price and firstAvailableVariant.compare_at_price != blank %}
      {% unless firstAvailableVariant.metafields.price_option.hide_price == 'yes' or firstAvailableVariant.metafields.price_option.hide_price == 'y' %}
        <span class="btn nav-save-price">Save {{ firstAvailableVariant.compare_at_price | minus: firstAvailableVariant.price | money_without_trailing_zeros }}</span>
     {% endunless %}
    {% endif %}
 {% else %}
    {% if product.price_min != product.compare_at_price_min %}
       {% unless product.metafields.price_option.hide_price == 'yes' or price_hide_opt == 'y' %}
        <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
       {% endunless %}
    {% endif %}
 {% endif %}