<div class="full-img m-hight ">
  <img class="desk lazyload" src="{{ section.settings.image | img_url: 'master'}}" alt="" loading="lazy">
  <img class="mob lazyload" src="{{ section.settings.image2 | img_url: 'master'}}" alt="" loading="lazy">
</div>
{% schema %}
{
  "name": "Section 4",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image Mobile"
    }
  ]
}
{% endschema %}