/* Certain elements do not have a color to inherith. These are required for a proper experience */
:root {
  /* Common */
  --findify-border-color: #eaeaea;

  /* Typography */
  --findify-text-inverse-color: #ffffff;
  --findify-text-secondary-color: #575757;
  --findify-base-font-size: 14px;
  --findify-background-color: #ffffff;

  /* CTA */
  --findify-cta-background-color: transparent;
  --findify-cta-background-color-hover: #eaeaea;
  --findify-cta-border-color: var(--findify-border-color);
  --findify-cta-secondary-background-color: #f7f7f7;
  --findify-cta-secondary-background-color-hover: #eaeaea;
  --findify-cta-background-accent: #1e559c;
  --findify-cta-background-accent-hover: #81b2f2;

  /* Inputs */
  --findify-input-background-color: #ffffff;
  --findify-input-border-color: #000000;

  /* Filters */
  --findify-filters-separator-color: var(--findify-border-color);
  --findify-checkbox-border-color: #000000;
  --findify-checkbox-checked: #000000;

  /* Rating */
  --findify-rating-active: #e9be57;
  --findify-rating-inactive: #c6c6c6;

  /* Sidebar mobile */
  --findify-sidebar-header-background-color: #000000;

  /* Product Card */
  --findify-product-card-aspect-ratio: 100%
}
