
.findify-filters-toggle {
  display: flex;
  margin: 10px auto;
  font-family: Encode Sans, sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  color: #616265;
  font-weight: 600;
}

.findify-checkbox-filter-wrapper[data-expanded="false"] .findify-filters-toggle.more {
  display: block;
}

.findify-checkbox-filter-wrapper[data-expanded="false"] .findify-filters-toggle.less  {
  display: none;
}

.findify-checkbox-filter-wrapper[data-expanded="true"] .findify-filters-toggle.more {
  display: none;
}

.findify-checkbox-filter-wrapper[data-expanded="true"] .findify-filters-toggle.less {
  display: block;
}

.findify-checkbox-filter-wrapper[data-expanded="false"] .findify-filters--body-wrapper {
  overflow: hidden;
  max-height: 160px;
}

.findify-checkbox-filter-wrapper[data-expanded="true"] .findify-filters--body-wrapper{
  overflow-y: scroll;
  max-height: 230px;
}

.findify-checkbox-filter-wrapper[data-expanded="false"] .findify-filters--checkbox-search {
  display: none;
}

.findify-checkbox-filter-wrapper[data-expanded="true"] .findify-filters--checkbox-search {
  display: block;
}

.findify-search-section.findify-filters-disable_search_input .findify-filters--checkbox-search{
  display: none;
}
.findify-filters--range-container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.findify-filters--range-wrapper {
  display: flex;
}

.findify-filters--range-wrapper-input input {
  min-width: 90px;
  padding: 8px;
}

.findify-filters--range-wrapper-delimiter {
  margin: 0px 5px;
}

.findify-filters--range-submit {
  margin-left: 10px;
}

#findify-filters-price .findify-filters--body-container{
  margin-top: 10px;
}
.findify-price-input-container { 
  width: 100%; 
  margin-top: 10px;
  padding: 0 10px;
} 

.findify-price-input .findify-price-field { 
  display: flex; 
  margin-bottom: 22px; 
} 

.findify-price-field span { 
    margin-right: 10px; 
    margin-top: 6px; 
    font-size: 17px; 
} 

.findify-price-field input { 
    font-size: 15px; 
    font-family: "DM Sans", sans-serif; 
    border-radius: 9px; 
    border: 0px;  
    width: 100%;
} 
.findify-price-field input.findify-min-input{
  text-align: left;
}
.findify-price-field input.findify-max-input{
  text-align: right;
}

.findify-price-input { 
  display: flex;
  width: 100%; 
  font-size: 19px; 
  color: #555; 
  margin: 15px 0 0;
  justify-content: space-between;
} 

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 

.findify-slider-container { 
    width: 100%; 
} 

.findify-slider-container { 
    height: 6px; 
    position: relative; 
    background: #e4e4e4; 
    border-radius: 5px; 
} 

.findify-slider-container .findify-price-slider { 
    height: 100%; 
    left: 0; 
    right: 0; 
    position: absolute; 
    border-radius: 5px; 
    background: #01940b; 
} 

.findify-range-input { 
    position: relative; 
} 

.findify-range-input input { 
    position: absolute; 
    width: 100%; 
    height: 5px; 
    background: none; 
    top: -2px; 
    pointer-events: none; 
    cursor: pointer; 
    -webkit-appearance: none; 
} 

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb { 
    height: 18px; 
    width: 18px; 
    border-radius: 70%; 
    background: #555; 
    pointer-events: auto; 
    -webkit-appearance: none; 
}

button {
  background: unset;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#findify-filters *[aria-hidden="true"] {
  display: none !important;
}

/* SECTION - HEADER & BODY EXPAND */
.findify-search-section.findify-filters-horizontal .findify-filters-body{
  position: absolute;
  z-index: 3;
  background: #fff;
  width: 100%;
}
.findify-filters-body[aria-expanded="false"] {
  display: none;
}

.findify-filter-group:has(.findify-filters-body[aria-expanded="false"])
  .findify-filters-header
  svg {
  transform: rotate(180deg);
}
/* ENDSECTION */

.findify-filters-checkbox-item {
  text-align: left;
}

.findify-filters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 260px;
  position: relative;
}
.findify-filters-wrapper.findify-absolute{
  position: absolute;
}
.findify-filters-wrapper.findify-fixed{
  position: fixed;
  max-height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
  top: 10px;
  z-index: 3;
  background: #fff;
}
/* FILTERS */
.findify-filters-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.findify-filter-group {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--findify-filters-separator-color);
}

.findify-filters-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 12px 0 10px;
}

.findify-filters-header span {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--findify-filters-title);
  cursor: pointer;
}

.findify-filters-body {
  display: flex;
  flex-direction: column;
}

.findify-filters--nested-body-wrapper {
  margin-left: 10px;
}

.findify-filters--nested-body-wrapper
  .findify-filters-checkbox-item-value::before {
  display: none !important;
}

/* SECTION - Filter text value and checkbox */
.findify-filters-checkbox-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: var(--findify-filters-value);
  padding: 0 12px 0 10px;
}

.findify-filters-checkbox-item-count {
  font-weight: 400;

  color: var(--findify-text-secondary-color);
}

.findify-filters-checkbox-item .findify-filters-checkbox-item-value::before {
  content: "";
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--findify-checkbox-border-color);
  margin-right: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

.findify-filters-checkbox-item .findify-filters--checkbox-nested-value::after {
  content: "";
  border: solid var(--findify-checkbox-checked);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
  margin-left: 5px;
}

.findify-filters-checkbox-item
  .findify-filters--checkbox-nested-value-selected::after {
  transform: rotate(45deg);
}

.findify-filters--checkbox-nested-value-selected,
.findify-filters-checkbox-item-value-selected {
  font-weight: bold;
}

.findify-filters-checkbox-item
  .findify-filters-checkbox-item-value-selected::before {
  background: var(--findify-checkbox-checked);
  box-shadow: inset 0 0 0 2px #fff;
}

.findify-filters-checkbox-item-value-selected {
  font-weight: bold;
}

.findify-filters--color-item::before {
  display: none !important;
}

.findify-filters--color-item-layout-color {
  padding: 0;
}

.findify-filters--color-item-layout-color .findify-filters--color-item-value,
.findify-filters--color-item-layout-color .findify-filters-checkbox-item-value {
  margin-right: 0;
  padding-right: 0;
  flex: 1;
}

.findify-filters-checkbox-item-value,
.findify-filters--checkbox-nested-value {
  padding-right: 5px;
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 50px);
  cursor: pointer;
}

.findify-filters-checkbox-item-value > span,
.findify-filters--checkbox-nested-value > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.findify-filters-checkbox-item-value-selected svg {
  display: flex;
  margin: auto;
}

.findify-filters--checkbox-search {
  position: relative;
  margin: 5px 0;
  padding: 0 12px 0 10px;
}

.findify-filters--checkbox-search input {
  width: 100%;
  height: 32px;
  padding: 0px 10px;
  border-radius: 20px;
  margin: 0 auto;
  border: 1px solid var(--findify-input-border-color);
  background: var(--findify-input-background-color);
}

.findify-filters--checkbox-search-icon {
  position: absolute;
  right: 20px;
  top: 8px;
}
/* ENDSECTION */

/* SECTION - Scrollbar per filter */
.findify-filters--body-wrapper {
  max-height: 155px;
  overflow: auto;
}
#findify-filters-price .findify-filters--body-wrapper, #findify-filters-reviews\.average_score .findify-filters--body-wrapper {
  max-height: initial;
}
.findify-filters--body-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}
.findify-filters--body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #000000;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.findify-filters--body-wrapper::-webkit-scrollbar-track {
  background: #e1e1e1;
}
/* ENDSECTION */

/* SECTION - Color filter */
.findify-body-wrapper-layout-color {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 12px 0 10px;
}

.findify-body-wrapper-layout-color_with_label {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.findify-filters--color-item {
  display: flex;
  align-items: center;
}

.findify-solid-circle {
  height: 35px;
  width: 35px;
}

.findify-circle-with-label {
  height: 30px;
  width: 30px;
}

.findify-filters--color-item-value {
  border-radius: 50%;
  display: flex;
  margin-right: 5px;
}

/* ENDSECTION */

.findify-filters-sidebar.findify-open {
  display: flex;
  width: 260px
}

@media (max-width: 768px) {
  #findify-toggle-filter {
    display: none;
  }

  /* findify filters mobile CHECK ONE BY ONE CSS */
  .findify-filters-sidebar {
    margin: 0;
    width: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .findify-filters-wrapper {
    width: unset;
  }

  .findify-filters-sidebar .findify-filters-container {
    width: 100%;
  }

  .findify-filters-container:first-child .findify-filters-header {
    padding-top: 0px;
  }

  .findify-filters--container {
    margin-top: 0;
    border-top: 1px solid var(--findify-filters-separator-color);
    padding: 20px 17px;
  }

  .findify-filters-header {
    padding: 20px 0px;
  }

  .findify-filters-wrapper {
    padding: 20px;
  }

  .findify-search-header-breadcrumb {
    margin-bottom: 0px;
    margin-top: 25px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 20px;
  }

  .findify-filters--filter-header {
    justify-content: unset;
  }
  /* Ellipsis for mobile, increase with maximum */
  .findify-filters-checkbox-item-value > span:not(.findify-solid-circle),
  .findify-filters--checkbox-nested-value > span:not(.findify-solid-circle) {
    width: 250px;
  }
}

/* SECTION - Price range filter */
.findify-price-range-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px 0 10px;
}
.findify-price-range-content {
  display: flex;
  gap: 5px;
}

.findify-price-range-input-container {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border: 1px solid #000;
  background: #fff;
}

.findify-price-range-input {
  box-shadow: none;
  max-width: 50px;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  background: transparent;
  color: #111;
  font-size: 13px;
  border: none;
  outline: none;
}

.findify-price-range-input-container .money {
  white-space: nowrap;
}
/* Chrome, Safari, Edge, Opera */
.findify-price-range-input::-webkit-outer-spin-button,
.findify-price-range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.findify-price-range-input[type="number"] {
  -moz-appearance: textfield;
}

/* ENDSECTION */
