.findify-filters-breadcrumbs-body {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.findify-filters-breadcrumbs-show-more {
  justify-content: space-between;
}

.findify-filters-breadcrumbs-show-more .findify-filters-breadcrumb-close {
  background: unset;
}

.findify-filters-breadcrumbs-show-more.findify-open svg {
  transform: rotate(180deg);
}

.findify-filters-breadcrumbs-show-more,
.findify-filters-breadcrumbs-clear-all {
  width: 100px;
}

.findify-filters-breadcrumb-item .findify-solid-circle,
.findify-filters-breadcrumb-item .findify-circle-with-label {
  height: 25px;
  width: 25px;
}
.findify-filters-breadcrumb-item .findify-filters-checkbox-item-value {
  width: auto
}
.findify-filters-breadcrumb-item,
.findify-filters-breadcrumbs-show-more {
  display: flex;
  align-items: center;
  padding: 0 10px 0 15px;
  gap: 5px;
  background: var(--findify-cta-secondary-background-color);
  cursor: pointer;
  border-radius: 4px;
  height: 36px;
}

.findify-filters-breadcrumb-item:hover,
.findify-filters-breadcrumbs-show-more:hover {
  background: var(--findify-cta-secondary-background-color-hover);
}

.findify-filters-breadcrumb-close {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--findify-cta-secondary-background-color-hover);
  border-radius: 50%;
}

.findify-filters-breadcrumbs-clear-all {
  cursor: pointer;
  margin-left: 10px;
  color: var(--findify-text-secondary-color);
}

.findify-filters-breadcrumbs-clear-all:hover {
  text-decoration: underline;
}

.findify-filters-sidebar
  .findify-filters-breadcrumbs-body
  .findify-filters-breadcrumbs-show-more {
  display: none !important;
}
