.findify-recommendation-container .swiper-wrapper {
  padding-bottom: 30px;
}

.findify-recommendation-container .swiper-button-prev,
.findify-recommendation-container .swiper-button-next {
  position: absolute;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--findify-cta-background-accent);
  border: none;
  top: calc(50% - 50px) !important;
  padding: 10px 20px;
  color: var(--findify-text-inverse-color);
  outline: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

/* 
.findify-recommendation-container .swiper-button-disabled {
  display: none;
}
*/

.findify-recommendation-container .swiper-button-prev {
  left: 0;
  right: auto;
}

.findify-recommendation-container .swiper-button-next {
  right: 0;
  left: auto;
}

/* 
.findify-recommendation-container .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 100%;
  z-index: 9;
}
*/

.findify-recommendation-container .swiper {
  width: 100%;
}

.findify-recommendation-container {
  margin: 30px 0;
}

.findify-swiper-title {
  text-align: center;
}

.recommendation-wrapper .findify-product-title {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 98%;
  height: 1.6em;
  white-space: nowrap;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--findify-text-inverse-color);
  font-weight: 700;
  font-size: 20px;
}
